<?xml version="1.0"?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find crbot_slotcar)/urdf/simple_crbot.urdf'"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model crbot -x 0 -y 0 -z 0" output="screen"/>

</launch>